<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aircyclopedia</title>
    
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="icon" type="image/png" href="images/favicon.png">
    
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    
    <div class="container" id="aircyclopediaApp" v-cloak>
      <div class="row" v-if="devices === null">
        <div class="one-half column" style="margin-top: 25%">
          <h1>Welcome to Aircyclopedia!</h1>
          <p>
            This app is still under development,
            in the meantime you can view the data on the site in
            tabular form!
          </p>
          <button v-on:click="loadDevices()">Start</button>
        </div>
      </div>
      
      <div class="row" v-if="devices !== null">
        <h3>Devices</h3>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>DeviceID</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="device in devices">
              <td>{{device.sensorUuid}}</td>
              <td><button v-on:click="loadReadings(device)">Show Readings</button></td>
              <td><button v-on:click="loadPhones(device)">Show Phones</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="row" v-if="readings !== null">
        <h3>{{readings.length}} readings for {{selectedDevice}}</h3>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Time</th>
              <th>Reading</th>
              <th>Microclimate</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="reading in readings">
              <td>{{reading.deviceTime}}</td>
              <td>{{reading.pm25}}</td>
              <td>{{reading.microclimate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="row" v-if="phones !== null">
        <h3>{{phones.length}} phones linked to {{selectedDevice}}</h3>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Phone ID</th>
              <th>Brand</th>
              <th>Model</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="phone in phones">
            
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="js/webapp.js"></script>
  </body>
</html>